<section id="api-User">
    <h1>{{ getService | capitalize }} - {{ methods['get'][0] | capitalize }}</h1>
    <div class="pull-left" style="margin:-30px 0 0 0;">
        {% if trans[0].stk_book_description is defined %}
        <h5 style="color:#336699;">{{ trans[0]['stk_book_description'] }}</h5>
        {%  else %}
            <h5 style="color:#336699;"></h5>
        {%  endif %}
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="version btn dropdown-toggle" data-toggle="dropdown">
                <strong>{{ methods['get'][0] | capitalize }}</strong> <span class="caret"></span>
            </button>
            <!--<ul class="versions dropdown-menu open-left">
                <li class="disabled"><a href="http://apidocjs.com/example/#">compare changes to:</a></li>
                <li class="version"><a href="http://apidocjs.com/example/#">0.3.0</a></li>
                <li class="version"><a href="http://apidocjs.com/example/#">0.2.0</a></li>
                <li class="version"><a href="http://apidocjs.com/example/#">0.1.0</a></li>
            </ul>-->
        </div>
    </div>
    <div class="clearfix"></div>

    {% for itemkey,item in methods['yaml'][0]['data'] %}

    <div id="api-User-GetUser">

        <article id="api-User-GetUser-0.3.0" data-group="User" data-name="GetUser" data-version="0.3.0">



            <pre class="prettyprint language-html prettyprinted" data-type="{{ methods['yaml'][0]['http'] }}"><code><span class="pln">/{{ getService }}/{{ methods['get'][0] }}</span></code></pre>




            <ul class="nav nav-tabs nav-tabs-examples">
                <li class="active">
                    <a href="http://apidocjs.com/example/#examples-User-GetUser-0_3_0-0">{{ lang['example_usage'] }}:</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="examples-User-GetUser-0_3_0-0">
                    <pre class="prettyprint language-json prettyprinted" data-type="json"><code> curl -i {{ root }}/service/{{ app }}/{{ getService }}/{{ methods['get'][0] }}</code></pre>
                </div>
            </div>




            <h2>{{ lang['get_param'] }}</h2>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>
                    <th style="width: 10%">{{ lang['type'] }}</th>
                    <th style="width: 70%">{{ lang['description'] }}</th>
                </tr>
                </thead>

                {% if itemkey == 'standard' %}

                <tbody>

                <tr>
                    <td class="code">---</td>
                    <td>
                        ---
                    </td>
                    <td>
                        <p>---</p>


                    </td>
                </tr>
                </tbody>

                {% endif %}

            </table>




            <h2>Success : true - {{ lang['response_object'] }}</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>
                    <th style="width: 10%">{{ lang['type'] }}</th>
                    <th style="width: 70%">{{ lang['description'] }}</th>
                </tr>
                </thead>
                {% for okey,ovalue in methods['yaml'][0]['data'][itemkey] %}
                <tbody>
                <tr>
                    <td class="code">{{ okey }}</td>
                    <td>
                        {{ ovalue }}
                    </td>
                    <td>
                        <p>{{ trans[0][okey] }}</p>


                    </td>
                </tr>

                </tbody>
                {% endfor %}
            </table>




            <h2>Error 4xx</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Field</th>

                    <th style="width: 70%">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="code">NoAccessRight</td>
                    <td>
                        <p>Only authenticated Admins can access the data.</p>


                    </td>
                </tr>
                <tr>
                    <td class="code">UserNotFound</td>
                    <td>
                        <p>The <code>id</code> of the User was not found.</p>


                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-tabs nav-tabs-examples">
                <li class="active">
                    <a href="http://apidocjs.com/example/#error-examples-User-GetUser-0_3_0-0">Response (example):</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="error-examples-User-GetUser-0_3_0-0">
        <pre class="prettyprint language-json prettyprinted" data-type="json"><code><span class="pln">    HTTP</span><span class="pun">/</span><span class="lit">1.1</span><span class="pln"> </span><span class="lit">401</span><span class="pln"> </span><span class="typ">Not</span><span class="pln"> </span><span class="typ">Authenticated</span><span class="pln">
    </span><span class="pun">{</span><span class="pln">
      </span><span class="str">"error"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"NoAccessRight"</span><span class="pln">
    </span><span class="pun">}</span></code></pre>
                </div>
            </div>




            <h2>Send a Sample Request</h2>
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend">&gt;
                                <span class="add-on">url</span>
                                <input type="text" class="input-xxlarge sample-request-url" value="http://apidocjs.com/example/api_project.json">
                            </div>
                        </div>
                    </div>


                    <h3>Parameters</h3>
                    <h4><input type="radio" data-sample-request-param-group-id="sample-request-param-0" name="User-GetUser-0_3_0-sample-request-param" value="0" class="sample-request-param sample-request-switch" checked=""> Parameter</h4>
                    <div class="User-GetUser-0_3_0-sample-request-param-fields">
                        <div class="control-group">
                            <label class="control-label" for="sample-request-param-field-id">id</label>
                            <div class="controls">
                                <div class="input-append">&gt;
                                    <input type="text" placeholder="id" class="input-xxlarge sample-request-param" data-sample-request-param-name="id" data-sample-request-param-group="sample-request-param-0">
                                    <span class="add-on">String</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-default sample-request-send" data-sample-request-type="get">Send</button>
                        </div>
                    </div>

                    <div class="sample-request-response" style="display: none;">
                        <h3>
                            Response
                            <button class="btn btn-small btn-default pull-right sample-request-clear">X</button>
                        </h3>
                        <pre class="prettyprint language-json prettyprinted" data-type="json"><code class="sample-request-response-json"></code></pre>
                    </div>

                </fieldset>
            </form>


        </article>

    </div>
    {% endfor %}
</section>