<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<section id="api-User">

    <div class="pull-right">
        <div class="btn-group">

            {% set myservice =  methods['yaml'][reverse]['servicePath']|split('/') %}

            {% set serv = myservice | last|replace({'Action':''}) %}

            <select class="form-control selectservice" http="http://{{ root }}/service/{{ app }}/doc/index?doc=true{{ token }}&service={{ getService }}">
                <option value="{{ reverse }}">{{ methods['yaml'][reverse]['http'] }} - {{ serv | capitalize }}</option>

                {% set httpbasetrue = [] %}
                {% set httpbasetrue = httpbasetrue|merge([methods['yaml'][reverse]['http']]) %}
                {% set httpbasetrue = httpbasetrue|merge([methods['yaml'][reverse]['servicePath']]) %}

                {% set httpbasetrue = httpbasetrue|join('@@@@@') %}

                {% set httpbasereal = [httpbasetrue] %}

                {% for nkey,nvalue in methods['yaml'] %}

                    {% set httpbase = [] %}
                    {% set httpbase = httpbase|merge([methods['yaml'][nkey]['http']]) %}
                    {% set httpbase = httpbase|merge([methods['yaml'][nkey]['servicePath']]) %}

                    {% set httpbasejoin = httpbase|join('@@@@@') %}

                    {% if (nkey!=reverse) and (httpbasejoin not in httpbasereal) %}

                        {% set httpbasereal = httpbasereal|merge([httpbasejoin]) %}

                        {% set selectService = methods['yaml'][nkey]['servicePath']|split('/') %}

                        {% set myservicetrue = methods['yaml'][nkey]['servicePath']|split('/') %}

                        {% set myserv = myservicetrue | last|replace({'Action':''}) %}

                        <option value="{{ nkey }}">{{ methods['yaml'][nkey]['http'] }} - {{ myserv |capitalize }}</option>

                    {% endif %}

                {% endfor %}
            </select>

            <script>
                $("select.selectservice").change(function(){
                    var currentLocation = $(this).attr("http");
                    var key=$(this).val();
                    window.location.href = ""+currentLocation+"&key="+key;
                });
            </script>

        </div>
    </div>
    <div class="clearfix"></div>



    <h1>{{ getService | capitalize }} - {{ serv|capitalize }}</h1>



    {% set servicenameDescription = [] %}
    {% set servicenameDescription = servicenameDescription|merge([getService]) %}
    {% set servicenameDescription = servicenameDescription|merge([methods['yaml'][reverse]['http']]) %}
    {% set servicenameDescription = servicenameDescription|merge([serv]) %}
    {% set servicenameDescription = servicenameDescription|merge(['description']) %}

    {% set serviceDescription = servicenameDescription|join('_') %}



    <div class="pull-left" style="margin:-30px 0 0 0;">
        {% if trans[reverse][serviceDescription] is defined %}
        <h5 style="color:#336699;">{{ trans[reverse][serviceDescription] }}</h5>
        {%  else %}
            <h5 style="color:#336699;"></h5>
        {%  endif %}
    </div>



    {% for itemkey,item in methods['yaml'][reverse]['data'] %}

    <div id="api-User-GetUser">

        <article id="api-User-GetUser-0.3.0" data-group="User" data-name="GetUser" data-version="0.3.0">



            <pre class="prettyprint language-html prettyprinted" data-type="{{ methods['yaml'][reverse]['http'] }}"><code><span class="pln">/{{ getService }}/{{ serv }}</span></code></pre>




            <ul class="nav nav-tabs nav-tabs-examples">
                <li class="active">
                    <a href="http://apidocjs.com/example/#examples-User-GetUser-0_3_0-0">{{ lang['example_usage'] }}:</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="examples-User-GetUser-0_3_0-0">
                    <pre class="prettyprint language-json prettyprinted" data-type="json"><code> curl -i {{ root }}/service/{{ app }}/{{ getService }}/{{ serv }}</code></pre>
                </div>
            </div>




            <h2>{{ lang['header_param'] }}</h2>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>
                    <th style="width: 10%">{{ lang['value'] }}</th>
                </tr>
                </thead>

                {% if itemkey matches '{header.*}' %}

                {% set headerData = itemkey|split('@') %}
                {% set headerParam = headerData[1]|split(':') %}

                    {% set headerQuery = [] %}

                {% for headerparamskey,headerparamsvalue in headerParam %}
                    {% set headerQuery = headerQuery|merge(headerparamsvalue|split('&')) %}
                {% endfor %}


                {% for headerparamskey,headerparamsvalue in headerQuery %}

                    {% if methods['yaml'][reverse]['headers'][headerparamsvalue] is defined %}

                <tbody>

                <tr>
                    <td class="code">{{ headerparamsvalue }} </td>
                    <td>
                        {{ methods['yaml'][reverse]['headers'][headerparamsvalue][0] }}
                    </td>
                </tr>
                </tbody>

                        {% endif %}

                {% endfor %}

                {% else %}

                    <tbody>

                    <tr>
                        <td class="code">---</td>
                        <td>
                            ---
                        </td>

                    </tr>
                    </tbody>

                {%  endif %}


            </table>





            <h2>{{ lang['post_param'] }}</h2>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>
                    <th style="width: 10%">{{ lang['type'] }}</th>
                    <th style="width: 70%">{{ lang['description'] }}</th>
                </tr>
                </thead>


                {% if methods['yaml'][reverse]['postData']|length >0 %}
                {% for postparamskey,postparamsvalue in methods['yaml'][reverse]['postData'] %}

                <tbody>

                {% set postParamDescription = [] %}
                {% set postParamDescription = postParamDescription|merge(['post']) %}
                {% set postParamDescription = postParamDescription|merge([postparamskey]) %}
                {% set postParamDescription = postParamDescription|merge(['param']) %}


                {% set postParamDescription = postParamDescription|join('_') %}


                <tr>
                    <td class="code">{{ postparamskey }}</td>
                    <td>
                        {{ postparamsvalue }}
                    </td>
                    <td>
                        {% if trans[0][postParamDescription] is defined %}
                            <p>{{ trans[0][postParamDescription] }}</p>
                        {% else %}
                            <p>---</p>
                        {% endif %}


                    </td>
                </tr>
                </tbody>

                {%  endfor %}

                {% else %}

                    <tbody>

                    <tr>
                        <td class="code">---</td>
                        <td>
                            ---
                        </td>
                        <td>
                            <p>---</p>


                        </td>
                    </tr>
                    </tbody>

                {% endif %}


            </table>





            <h2>{{ lang['get_param'] }}</h2>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>
                    <th style="width: 10%">{{ lang['type'] }}</th>
                    <th style="width: 70%">{{ lang['description'] }}</th>
                </tr>
                </thead>


                {% if itemkey matches '{getData.*}' %}

                    {% set getData = itemkey|split(':') %}
                    {% set getParam = getData[1]|split('&') %}

                    {% for getparamskey,getparamsvalue in getParam %}

                        {% set getParamDescription = [] %}
                        {% set getParamDescription = getParamDescription|merge(['get']) %}
                        {% set getParamDescription = getParamDescription|merge([getparamsvalue]) %}
                        {% set getParamDescription = getParamDescription|merge(['param']) %}


                        {% set getParamDescription = getParamDescription|join('_') %}


                        <tbody>

                        <tr>
                            <td class="code">{{ getparamsvalue }}</td>
                            <td>
                                {{ methods['yaml'][reverse]['getData'][getparamsvalue] }}
                            </td>
                            <td>
                                {% if trans[0][getParamDescription] is defined %}
                                <p>{{ trans[0][getParamDescription] }}</p>
                                {% else %}
                                    <p>---</p>
                                {% endif %}


                            </td>
                        </tr>
                        </tbody>

                    {% endfor %}

                {% elseif itemkey matches '{header.*}' %}

                    {% for headerparamskey,headerparamsvalue in headerQuery %}

                        {% if methods['yaml'][reverse]['getData'][headerparamsvalue] is defined %}

                            <tbody>

                            <tr>
                                <td class="code">{{ headerparamsvalue }} </td>
                                <td>
                                    {{ methods['yaml'][reverse]['getData'][headerparamsvalue] }}
                                </td>
                                <td>
                                    <p>---</p>


                                </td>
                            </tr>
                            </tbody>

                        {% endif %}

                    {% endfor %}


                {% else %}


                    <tbody>

                    <tr>
                        <td class="code">---</td>
                        <td>
                            ---
                        </td>
                        <td>
                            <p>---</p>


                        </td>
                    </tr>
                    </tbody>

                {% endif %}

            </table>



            <h2>Success : true - {{ lang['response_object'] }}</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 30%; background-color: #c0a16b;">{{ lang['field'] }}</th>
                    <th style="width: 10%; background-color: #c0a16b;">{{ lang['type'] }}</th>
                    <th style="width: 70%; background-color: #c0a16b;">{{ lang['description'] }}</th>
                </tr>
                </thead>
                {% for okey,ovalue in methods['yaml'][reverse]['data'][itemkey] %}
                <tbody>
                <tr>
                    <td class="code">{{ okey }}</td>
                    <td>
                        {{ ovalue }}
                    </td>
                    <td>
                        <p>{{ trans[0][okey] }}</p>


                    </td>
                </tr>

                </tbody>
                {% endfor %}
            </table>




            <h2>{{ lang['error_response'] }}</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 30%">{{ lang['field'] }}</th>

                    <th style="width: 70%">{{ lang['description'] }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="code">Success : false </td>
                    <td>
                        <p>Fail Response</p>


                    </td>
                </tr>
                <tr>
                    <td class="code">Status : (int)</td>
                    <td>
                        <p>Http status code</p>


                    </td>
                </tr>
                </tbody>
            </table>







        </article>

    </div>
    {% endfor %}
</section>