<!DOCTYPE html>
<!-- saved from url=(0028)http://apidocjs.com/example/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ app }} Project Api Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://{{root}}/external/public/declarations/apidoc_files/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://{{root}}/external/public/declarations/apidoc_files/prettify.css" rel="stylesheet" media="screen">
    <link href="http://{{root}}/external/public/declarations/apidoc_files/style.css" rel="stylesheet" media="screen, print">
    <link href="http://apidocjs.com/example/img/favicon.ico" rel="icon" type="image/x-icon">
    <script src="http://{{root}}/external/public/declarations/apidoc_files/polyfill.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main" src="http://{{root}}/external/public/declarations/apidoc_files/main.js"></script><style type="text/css">/* This is not a zero-length file! */</style><style type="text/css">/* This is not a zero-length file! */</style><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="http://{{root}}/external/public/declarations/apidoc_files/jquery.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="lodash" src="http://{{root}}/external/public/declarations/apidoc_files/lodash.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="locales" src="http://{{root}}/external/public/declarations/apidoc_files/locale.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="api_project.js" src="http://{{root}}/external/public/declarations/apidoc_files/api_project.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="api_data.js" src="http://{{root}}/external/public/declarations/apidoc_files/api_data.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="utilsSampleRequest" src="http://{{root}}/external/public/declarations/apidoc_files/send_sample_request.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="pathToRegexp" src="http://{{root}}/external/public/declarations/apidoc_files/index.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="prettify" src="http://{{root}}/external/public/declarations/apidoc_files/prettify.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="handlebars" src="http://{{root}}/external/public/declarations/apidoc_files/handlebars.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="locales/de.js" src="http://{{root}}/external/public/declarations/apidoc_files/de.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="bootstrap" src="http://{{root}}/external/public/declarations/apidoc_files/bootstrap.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="handlebarsExtended" src="http://{{root}}/external/public/declarations/apidoc_files/handlebars_helper.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="diffMatchPatch" src="http://{{root}}/external/public/declarations/apidoc_files/diff_match_patch.min.js"></script><link rel="stylesheet" type="text/css" href="http://{{root}}/external/public/declarations/apidoc_files/css"></head>
<body>



<div class="container-fluid">
    <div class="row-fluid">
        <div id="sidenav" class="span2">
            <nav id="scrollingNav">
                <ul class="sidenav nav nav-list">
                    <li class="nav-fixed nav-header" data-group="_"><a href="http://{{ root }}/service/{{ app }}/doc/index?doc=true{{ token }}">{{ lang['general'] }} </a></li>
                    <li class="nav-header" data-group="User"><a href="">{{ lang['services'] }}</a></li>

                    {% if services|length > 0 %}
                    {% for item in services %}
                    <li data-group="Service" data-name="GetService" data-version="0.1.0">
                        <a href="http://{{ root }}/service/{{ app }}/doc/index?doc=true{{ token }}&service={{ item }}">{{ appHeader }} - {{ item | capitalize }}</a>
                    </li>
                    {% endfor %}

                    {% else %}
                        <li data-group="Service" data-name="GetService" data-version="0.1.0">
                            <a href="">{{ lang['noService'] }}</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
        <div id="content">
            <div id="project">
                <div class="pull-left">
                    <h1>apidoc-example</h1>
                    <h2>apiDoc example project</h2>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="version" class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                            <strong>0.3.0</strong> <span class="caret"></span>
                        </button>
                        <ul id="versions" class="dropdown-menu open-left">
                            <li><a id="compareAllWithPredecessor" href="http://apidocjs.com/example/#">Compare all with predecessor</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="http://apidocjs.com/example/#">show up to version:</a></li>
                            <li class="version"><a href="http://apidocjs.com/example/#">0.3.0</a></li>
                            <li class="version"><a href="http://apidocjs.com/example/#">0.2.0</a></li>
                            <li class="version"><a href="http://apidocjs.com/example/#">0.1.0</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="header">
                <div id="api-_"><h2 id="welcome-to-apidoc">Welcome to apiDoc</h2>
                    <p>Please visit <a href="http://apidocjs.com/">apidocjs.com</a> with the full documentation.</p>
                </div>
            </div>
            <div id="sections">
                {% if getService == null %}

                    {% include 'home.twig' %}

                {% else %}

                    {% include 'content.twig' %}

                {% endif %}

            </div>
            <div id="footer">
                <div id="api-_footer"><h2 id="epilogue">Epilogue</h2>
                    <p>Suggestions, contact, support and error reporting on <a href="https://github.com/apidoc/apidoc/issues">GitHub</a></p>
                </div>
            </div>
            <div id="generator">
                <div class="content">
                    Generated with <a href="http://apidocjs.com/">apiDoc</a> 0.9.0 - 2014-11-28T14:51:50.677Z
                </div>
            </div>
        </div>
    </div>
</div>



<script data-main="main.js" src="http://{{root}}/external/public/declarations/apidoc_files/require.min.js"></script>


</body></html>